<div class="chrome-wrapper">
    <div *ngIf='isShowChrome'>
        <app-bar [nodeScroll]="false"></app-bar>

        <div id="wrapper" class="toggle" [ngClass]="{'sidebarMarginMin':sidebar === true, 'sidebarMarginMax':sidebar === false}">
            <div id="page-content-wrapper" class="sidebar-margin">
                <div class="container-fluid">
                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



