
.settings-popup {
    width: 200px;
    height: auto;
    position: absolute;
    right: -99px;
    background-color: #fff;
    top: 53px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 10002;
}

.k-callout-n {
    border-bottom-color: #ffffff;
    left: 77px !important;
    top: -12px;
}
