<div>
    <nav id="chromeHeader" class="navbar navbar-inverse navbar-fixed-top chrome site-accent p-0">
        <div class="container-fluid chrome ">
            <div class="navbar-header launcher-nomargin">
                <app-app-list></app-app-list>
            </div>
            <div id="navbar" style="margin-right: -15px;">
                <ul class="nav navbar-inverse">
                    <li>
                        <app-history></app-history>
                    </li>
                    <li>
                        <div class="badge">
                           3
                        </div>
                        <app-notifications></app-notifications>
                    </li>
                    <li>

                        <app-settings></app-settings>
                    </li>
                    <li>
                        <app-company-branch></app-company-branch>

                    </li>
                    <li>
                        <app-employee></app-employee>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
</div>