<div class="margin-top">
    <div class="col-xs-12" id={{node}}>
        <div class="panel panel-default app-container">
            <div class="panel-heading">
                <h3 class="panel-title ng-binding" style="margin-left: -570px;">{{ refundsManagement.PotentialMemberRefundsTransfers | translate }}</h3>
            </div>
            <hr class="line" />
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="panel-default app-container">
                        <app-appoverlay [overlayisBusy]="isOverlayBusy" [overlayisError]="isOverlayError" *ngIf="isOverlayBusy || isOverlayError"></app-appoverlay>
                        <kendo-grid [kendoGridBinding]="potentialRefundsData" *ngIf="!isOverlayBusy && !isOverlayError"
                                    [resizable]="true"
                                    [pageSize]="pageSize"
                                    [sortable]="true"
                                    [pageable]="true"
                                    [selectable]="true"
                                    [scrollable]="'none'"
                                    filterable="menu"
                                    [kendoGridSelectBy]="'accountNumber'"
                                    [rowClass]="rowCallback"
                                    [selectedKeys]="potentialSelection"
                                    (selectedKeysChange)="onSelectedKeysChangePotential($event)">

                            <ng-template kendoGridToolbarTemplate>
                                <div>
                                    <button style="background-color:#3f51b5;padding:8px;border: none;color:white;" [ngClass]="{'k-state-disabled':potentialRefundCount==0,'cursorPointer':potentialRefundCount > 0}">
                                        <i class="fa fa-gear fa-lg" style="font-size:18px;margin-left:15px;"></i>&nbsp;<span style="font-size:16px;">Process</span>
                                    </button>

                                    <i class="fa fa-bars" #anchor (click)="togglePDF()" aria-hidden="true" style="float:right;padding:8px;cursor:pointer;color:white;"></i>
                                    <kendo-popup #popup [anchor]="anchor" class="column-Menu" popupClass="content" *ngIf="showPDF" style="left: 550px !important;top: 262px !important;">
                                        <ul class="k-widget k-reset k-header k-menu k-menu-vertical ats-gridmenu" tabindex="0" role="menubar" style="background:white;">
                                            <li class="k-item k-state-default" kendoGridPDFCommand style="color:black;background:white;">
                                                <span class="k-link k-menu-link">
                                                    <span class="k-sprite fa fa-file-pdf-o"></span>Export to PDF
                                                </span>
                                            </li>
                                            <li class="k-item k-state-default" kendoGridExcelCommand style="color:black;background:white;margin-left:0px;">
                                                <span class="k-link k-menu-link">
                                                    <span class="k-sprite fa fa-file-pdf-o"></span>Export to Excel
                                                </span>
                                            </li>
                                            <li class="k-item k-state-default k-first" style="color:black;padding: 0px 16px;">
                                                <kendo-grid-column-chooser></kendo-grid-column-chooser><span style="font-size:16px;">Columns</span>
                                            </li>
                                        </ul>
                                    </kendo-popup>
                                </div>


                            </ng-template>
                            <!--<kendo-grid-checkbox-column field="Discontinued" showSelectAll="true" [width]="50">
                        <ng-template kendoGridHeaderTemplate>
                            <span style="margin-left: 13px;">
                                <input type="checkbox" id="selectAllCheckbox" (selectAllChange)="selectAllPotentialRefund($event,potentialRefundsData)" [(checked)]="checkAllPotentialRefund" kendoGridSelectAllCheckbox />
                            </span>
                        </ng-template>
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <input type="checkbox" (click)="checkBoxPotentialRefundChanged($event, dataItem)" [(ngModel)]="dataItem.Discontinued" style="margin-left:14px;" />
                        </ng-template>
                    </kendo-grid-checkbox-column>-->

                            <kendo-grid-checkbox-column [width]="50">
                                <ng-template kendoGridHeaderTemplate>
                                    <input class="k-checkbox" id="potentialSelectAllCheckboxId" kendoGridSelectAllCheckbox
                                           [state]="potentialSelectAllState"
                                           (selectAllChange)="onSelectAllChangePotential($event)">
                                    <label class="k-checkbox-label" for="potentialSelectAllCheckboxId"></label>
                                </ng-template>
                            </kendo-grid-checkbox-column>
                            <kendo-grid-column field="accountNumber" title="Account #" [width]="150"></kendo-grid-column>
                            <kendo-grid-column field="primaryAccountNumber" title="Primary Acct #" [width]="150"></kendo-grid-column>
                            <kendo-grid-column field="memberNumber" title="Member #" [width]="130"></kendo-grid-column>
                            <kendo-grid-column field="name" title="Name" [width]="180"></kendo-grid-column>
                            <kendo-grid-column field="type" title="Type" [width]="150"></kendo-grid-column>
                            <kendo-grid-column field="accountSubType" title="Account Sub Type" [width]="150"></kendo-grid-column>
                            <kendo-grid-column field="refundAmount" title="Refund Amount" filter="numeric" format="{0:c}" [width]="150"></kendo-grid-column>
                            <kendo-grid-column field="disconnectDate" title="Disconnect Dts" [width]="180">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <span>{{dataItem.disconnectDate | date:'MMM dd, yyyy'}}</span>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="finalBillDate" title="Final Bill Dts" [width]="180">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <span>{{dataItem.finalBillDate | date:'MMM dd, yyyy'}}</span>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="lastPaymentDate" title="Last Payment Dts" [width]="180">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <span>{{dataItem.lastPaymentDate | date:'MMM dd, yyyy'}}</span>
                                </ng-template>
                            </kendo-grid-column>
                            <!--<kendo-grid-column field="checkNo" title="Check #"></kendo-grid-column>
                    <kendo-grid-column field="disconnected" title="Disconnected">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <span>{{dataItem.disconnected | date:'MMM dd, yyyy'}}</span>
                        </ng-template>
                    </kendo-grid-column>-->
                            <!--<kendo-grid-column field="amount" title="Amount" filter="numeric" format="{0:c}"></kendo-grid-column>-->


                            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                                <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                                <kendo-pager-info></kendo-pager-info>
                                fo
                                ag
                                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                                <kendo-dropdownlist [data]="pageSizes"
                                                    [textField]="'text'"
                                                    [valueField]="'value'"
                                                    [valuePrimitive]="true"
                                                    [(value)]="pageSize" style="width:70px;"></kendo-dropdownlist><span style="padding-left:10px">items per page</span>
                            </ng-template>


                            <kendo-grid-excel fileName="PotentialRefunds.xlsx"></kendo-grid-excel>
                            <kendo-grid-pdf fileName="PotentialRefunds.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                                <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                                <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                                    <div class="page-template">
                                        <div class="header">
                                            <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
                                            Multi-page grid with automatic page breaking
                                        </div>
                                        <div class="footer">
                                            Page {{ pageNum }} of {{ totalPages }}
                                        </div>
                                    </div>
                                </ng-template>
                            </kendo-grid-pdf>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>